// Copyright © 2021 Move Closer

.tabs-container {
  padding: 0.875rem 0.875rem 0;
}

@media (min-width: 768px) {
  .tabs-container {
    padding: 0.9rem 1.75rem 0;
  }
}

.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  background-color: #f4f4f4;
  align-items: center;

  &.tabs {
    display: flex;
    flex-wrap: wrap;

    .tab-item {
      padding: 0.25rem 0;

      &.active {
        background-color: white;

        .nav-link {
          color: #2e3338;
        }
      }

      &:not(.active) {
        cursor: pointer;

        &:hover:not(.disabled) {
          background-color: #f7f7f7;

          .nav-link {
            color: #3d9bff;
          }
        }
      }

      .nav-link {
        color: $info;
      }

      &.disabled {
        cursor: default;

        .nav-link {
          color: #2e3338;
          opacity: 0.5;
        }
      }
    }

  }

  .right-element {
    padding-right: 0.75rem;
    margin-left: auto;
  }
}

.nav-tabs-scrollable {
  overflow: hidden;

  .nav-tabs.nav-tabs-block {
    overflow-x: auto;
    white-space: nowrap;
    display: block;

    .nav-item {
      display: inline-block;
    }
  }
}
