// Copyright © 2021 Move Closer

//
// Dropdown
// --------------------------------------------------

.dropdown.open {
  > .dropdown-menu {
    visibility: visible;
    pointer-events: all;
  }
}

.dropdown-menu {
  padding-right: .5rem;
  padding-left: .5rem;
  box-shadow: $dropdown-box-shadow;
  display: block;
  visibility: hidden;
  pointer-events: none;
  margin: 0;

  &.dropdown-menu-lg {
    min-width: 300px;
  }
}

.dropdown-item {
  margin-bottom: .25rem;
  border-radius: $border-radius;
}
